body {
    background: #CCCCCC
}

#banner  {
    width: 50%;

}

#rs3 {

    width: 30%;
}

h1[
    style="text-align:center"


p {
    text-align: center;
}

em strong {
    color: #FF0000;
}
.text experiência {
    text-align: center;
}